*{margin: 0%;padding: 0%;}
a{
    color: inherit;
    text-decoration: none;
}
body{
  background-color:rgb(242, 240, 255);
}
header{
  background-color: #eee;
}
.current-weather-card, .cards, .day-card{
  background-color: white;
  color: black;
}
header {
    padding: 10px;
    min-height: 70px;
    display: flex;
    align-items: center;
    box-shadow:0 0 5px rgb(187, 82, 2);
  }
  li{list-style:none;}
  .logo_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
  }
  .logo img {
    height: 60px;
    width: 60px;
    flex: 0 0 auto;
  }
  
  .site-name h1 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 40px;
  }
.search{
    display: block;
    position: relative;
    left:25%;
    transform:translateX(-50%);
    z-index: 3;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid #2e2d2c;
    height: 33px;
    width: 400px;
    background-color: white;
  }
  .search input[type="search"] {
    position: absolute;
    top:0;
    left:0;
    margin-left: 23px;
    height: 28px;
    width: 360px;
    border:0;
    outline: 0;
  }

  .fa-magnifying-glass, .fa-arrow-left{
    color:black;
    font-size: 20px;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }
  .fa-arrow-left{
    opacity: 0;
    visibility: hidden;
  }
  .fa-arrow-left:hover{
    cursor: pointer;
  }
  .search-view{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #eee;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }
  .search-view.active, .fa-arrow-left.active, .fa-magnifying-glass.active{
    opacity: 1;
    visibility: visible;
  }
  .fa-magnifying-glass{
    opacity: 0;
    visibility: hidden;
  }
  .search-view .view-list{
    padding-block: 4px 2px;
  }
  .view-list{
    margin-top: 68px;
  }
  .view-item{
    box-sizing: border-box;
    border-bottom: 1px solid black;
  }

.search-view .view-item {
  position: relative;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:16px;
}
.search-view .view-item .item-link{
    position: absolute;
    inset: 0;
    box-shadow: none;
}
.item-title{
  color: black;
    font-size: 30px;
}
.item-subtitle{
  font-size: 20px;
  color: gray;
}
sup{vertical-align: top;}

.weapper {
    display: flex;
    align-items: center;
}
.meta-item{
    display: flex;
    align-items: center;
}
.meta-text{
    margin-left:5px;
}
.weather-icon {
    height: 100px;
    width: 100px;
}
.temperature{
    font-weight: bold;
    font-size: 75px; 
}
.card-title{
  display: block;
  text-align: center;
  font-size: 36px;
}
p{
    font-size: 23px;
}
.view-item:hover{
  cursor: pointer;
  background-color: white;
}
.cities{
  min-width: 100%;
  text-align: center;
}
.current-weather-card{
  padding: 15px;
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid #2e2d2c;
  width: 44%;
  border-radius: 15px;
  box-shadow:0 0 5px rgb(187, 82, 2);
}
.wrapper{
  display: flex;
  justify-content: space-between;
}
.right-current-weather{
  margin-top: 15px;
}
.weather{
  display: flex;
  margin-top: 20px;
}
.cards, .day-card{
  width: 190px;
  padding: 15px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  border-radius: 15px;
  box-shadow:0 0 5px rgb(187, 82, 2);
}
.hours-weather, .days-weather{
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
.weather-icon2{
  width: 60px;
  height: 60px;
}
.time-title{
  font-weight: normal;
  font-size: 20px;
}
.temperature2{
  font-size: 40px;
}
.weather-description2{
  font-size: 22px;
}
.day-title{
  font-size: 18px;
}
.temperature-day{
  font-size:45px;
}
.weather-description-day{
  font-size: 26px;
}
.eggwrap{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0, 0.5);
  z-index: 100;
  cursor: pointer;
}
.eggwrap.active, .simka.active img{
 display: block;
}
.zont{
  height: 90vh;
  max-width: 80%;
  display: block;
  position:relative;
  background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
  left:50%;
  top:50vh;
  transform: translate(-50%, -50%);
  cursor: auto;
}
.logo2{
  position: absolute;
  width: 60px;
  height: 120px;
  top:10vh;
  left:50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}
.simka img{
  display: none;
  position: fixed;
  left:50%;
  top:50vh;
  transform: translate(-50%, -50%);
  cursor: auto;
  height: 90vh;
  max-width: 80%;
}
